.class1 {
    width: 14px;
    height: 14px;
    background: url(./sprites/radio-active.png);
}

.class2 {
    width: 14px;
    height: 14px;
    background: url('./sprites/radio-disable.png');
}

.class3 {
    width: 14px;
    height: 14px;
    background: url("./sprites/radio-hover.png");
}