.class1 {
    width: 14px;
    height: 14px;
    background: url(../images/sprite.png) 0px 0px;
}

.class2 {
    width: 14px;
    height: 14px;
    background: url(../images/sprite.png) 32px 0px;
}

.class3 {
    width: 14px;
    height: 14px;
    background: url(../images/sprite.png) 0px 32px;
}